.mid_page{
    display: flex;
   
    
    flex-direction: column;
}
.login_input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}  
.login_btn{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login_btn:hover {
    background-color: #45a049;
}
.login_form {
    border-radius: 5px;
    background-color: #cecece;
    padding: 20px;
    width: 90%;  
}
.login_form label{
    float: left;
}
.login{
    display: flex;
    justify-content: center; 
    
}
.message{
    resize: vertical;
    height: 85px;
}
input:invalid,
textarea:invalid {
    background: rgb(201, 117, 117);
}
input::placeholder{
    color: black;
}
.error{
    background: #FF4C4C;
    padding: 10px;
    border-radius: 7px;
}
/**/
.down_link_continer{
    
    
}
.down_links{
    display: flex;
    justify-content: center;
}
.down_links p{
    margin-top: none;
    
    
    margin: none;
}
.down_link{
    text-decoration: none;   
}
.down_link_separator{
    padding-left: 1rem;
    padding-right: 1rem;
}

/*

.message{
    resize: vertical;
    height: 85px;
}
input:invalid,
textarea:invalid {
    background: rgb(201, 117, 117);
}
input::placeholder{
    color: black;
}
.error{
    background: #FF4C4C;
    padding: 10px;
    border-radius: 7px;
}
*/
