@import '/fonts/Oswald-Light.ttf';
h1{
    font-family:'Oswald', sans-serif; 
    text-align: center;
}
h4{
    text-align: center  ;
}
h3{
    padding-left: 15px  ;
}
body{
    background-color: rgb(241, 241, 241);
    display: flex;
    height: 100%;
    margin-left: auto!important;
    margin: 0;
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}


/*User Options*/
.options{
    background-color: #ccc;
    width: 80%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
.option{
    border-top: 1px solid black;text-align: center;
}
.option a{
    text-decoration: none;
    font-size: 22px;
   
}
.option a p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    color: black;
}
.option_name p{
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 30px;
    
}
.icon_user{    
    vertical-align: -.125em;
    height: 1.05em;
}





/*END User Options*/



.upper_page{
    text-align: center;
}


/*Footer*/
.footer_nav{
    margin-top: auto!important;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index:  999999999 ;
    background-color: black;
    border-radius: 10px 10px  0px 0px;
}

.nav_links{
    text-align: center;
}
.nav_link{
    text-decoration: none;
}
.nav_img{
    margin-top: 5px;
    color:antiquewhite;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 33px;
}


/*End Footer*/



.text{
    padding-left: 13px;
    padding-right: 13px;
}
.botton-down{
    padding-bottom: 80px;
}

